<section class="tasks-container">
     {{#each roomsList}} 
     <div>
        <h2>{{this.title}}</h2> &nbsp;&nbsp;
        {{this.description}}
        {{this.location}}
        {{this.price}}
        {{this.roomImage}}
        <a href="/room/edit/{{this._id}}">Edit</a>&nbsp;&nbsp;
    </div>
    {{else}}
        Empty rooms!!!
     {{/each}}
</section>

<div id="tasks-links-holder">
    <a href="/room/add">Room adding</a>
</div>

